//------------------------------------------------------------------------------
// Containers
//------------------------------------------------------------------------------

$large: 1200px !default;
$medium: 1000px !default;
$small: 720px !default;

//------------------------------------------------------------------------------
// Breakpoints
//------------------------------------------------------------------------------

$desktop: $large !default;
$tablet: $medium !default;
$mobile: $small !default;

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$background: white !default;
$text-color: #383848;
$primary-color: #3A8595;
$secondary-color: #f0f0f0;
$white: #fff;
$heading-color:  lighten($text-color, 15%);
$secondary-background: #f0f0f0;
$link-color: $primary-color;
$link-hover-color: lighten($link-color, 15%);
$code-color: #f14745;

//==============================================================================
// Buttons
//==============================================================================

$button-success-color: #4ed391;
$button-info-color: #4844e9;
$button-warning-color: #FB8731;
$button-danger-color: #dc3555;
$button-font-weight: 600;
$button-text-transform: uppercase;
$button-font-size: 0.9rem;
$button-border-radius: 8px;
$button-padding: 0.85rem 1.2rem;
$button-margin: 0 1rem 1rem 0;
$button-letter-spacing: 1px;
$button-border-square: 0;
$button-border-round: 1.6rem;

$button-full-width: 100%;

$button-large-font: 1rem;
$button-large-padding: 1.5rem;


//==============================================================================
// Borders
//==============================================================================

$border-width: 1px !default;
$border-style: solid !default;
$border-color: #dedede !default;
$border-radius: 8px !default;
$borders: $border-width $border-style $border-color !default;

//------------------------------------------------------------------------------
// Typography
//------------------------------------------------------------------------------

// Body
$font-size: 1rem !default;
$body-font-size: 1rem !default;
$font-color: $text-color;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: 400 !default;
$font-family: Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
  Arial, sans-serif !default;
$line-height: 1.9 !default;

// Headings
$heading-font-weight: 700;
$heading-font-family: $font-family;
$heading-line-height: 1.2 !default;

// Mobile Heading font size
$h1-mobile: 1.75rem !default;
$h2-mobile: 1.5rem !default;
$h3-mobile: 1.25rem !default;
$h4-mobile: 1.1rem !default;
$h5-mobile: 1rem !default;

// Heading font size
$h1: 2.25rem !default;
$h2: 2rem !default;
$h3: 1.75rem !default;
$h4: 1.5rem !default;
$h5: 1.25rem !default;

// Code fonts
$code-family: monospace;
$code-color: $code-color;
$code-background: $secondary-background !default;
$code-borders: $borders !default;
$code-size: 14px !default;

//==============================================================================
// Spacing
//==============================================================================

$padding: 1rem !default;
$margins: 1rem !default;

//==============================================================================
// Cards
//==============================================================================

$card-background: $secondary-background;
$card-border: $borders;
$card-border-radius: $border-radius;

//==============================================================================
// buttons
//==============================================================================

$button-background: $secondary-background;
$button-border: $borders;
$button-border-radius: $border-radius;

