// grid system

$column-padding: 16px;
$margin-bottom: 16px;

%column-padding {
  padding-left: $column-padding;
  padding-right: $column-padding;
}

%row-margin {
  margin-left: -$column-padding;
  margin-right: -$column-padding;
}

.flex-row {
  @extend %row-margin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-s,
.flex-l {
  @extend %column-padding;
  flex-basis: 100%;
  margin-bottom: $margin-bottom;
  background-color: $secondary-background;
  margin: 8px;
}

@include medium-breakpoint {
  .flex-l {
    flex: 1;
  }
}
@include small-breakpoint {
  .flex-s {
    flex: 1;
  }
}
