.container {
  margin: 0 auto;
  max-width: $large;
  padding: 0 16px;
  &.medium {
    max-width: $medium;
  }
  &.small {
    max-width: $small;
  }
}

.section {
  margin: 8rem 0;
  &.cta {
    background-color: $primary-color;
    margin: 0;
    min-height: 50vh;
    display: flex;
    align-items: center;
    color: $secondary-color;
  }
}