@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

// HTML base
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height}
    $font-family;
  font-size: $font-size;
}

// Body base
body {
  background: $background;
  color: $font-color;
  line-height: $line-height;
}

// Headings

 %headings {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  color: $heading-color;
  margin-bottom: 1rem;
  &:not(:first-child) {
    margin-top: 3rem;
  }
}

h1 {
  font-size: $h1;
  @extend %headings;
  line-height: $heading-line-height-1;
  letter-spacing: $heading-letter-spacing-1;
}

h2 {
  font-size: $h2;
  @extend %headings;
  line-height: $heading-line-height-2;
  letter-spacing: $heading-letter-spacing-2;
}

h3 {
  font-size: $h3;
  @extend %headings;
  line-height: $heading-line-height-2;
  letter-spacing: $heading-letter-spacing-2;
}

h4 {
  font-size: $h4;
  @extend %headings;
  line-height: $heading-line-height-3;
  letter-spacing: $heading-letter-spacing-3;
}

h5 {
  font-size: $h5;
  @extend %headings;
  line-height: $heading-line-height-3;
  letter-spacing: $heading-letter-spacing-3;
}

h6 {
  font-size: $h6;
  @extend %headings;
  line-height: $heading-line-height-4;
  letter-spacing: $heading-letter-spacing-4;
}

@include small-breakpoint {
  h1 {
    font-size: $h1-large;
  }
  h2 {
    font-size: $h2-large;
  }
  h3 {
    font-size: $h3-large;
  }
  h4 {
    font-size: $h4-large;
  }
  h5 {
    font-size: $h5-large;
  }
  h6 {
    font-size: $h6-large;
  }
}

p {
  margin: 0 0 1rem 0;
}

.lead {
  font-size: 1.125rem;
}

.text-white {
  color: white;
}


// a {
//   color: $link-color;
//   text-decoration: underline;

//   &:hover,
//   &:active,
//   &:focus {
//     color: $link-hover-color;
//     text-decoration: underline;
//   }
// }

// // // Code block styling
// // pre {
// //   border: $borders;
// //   border-radius: $border-radius;
// //   background: $code-background;
// //   padding: 1rem;
// //   tab-size: 2;
// //   color: $code-color;
// //   font-family: $code-family;
// //   font-size: $code-size;
// //   margin: 0 0 $margins 0;

// //   code {
// //     font-family: $code-family;
// //     line-height: 1.2;
// //   }
// // }
