@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

// HTML base
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height}
    $font-family;
  font-size: $font-size;
}

// Body base
body {
  background: $background;
  color: $font-color;
  line-height: $line-height;
}

// h1, h2, h3 {
//   @extend %headings;
//   line-height: $heading-line-height;
// }

// h4, h5, h6 {
//   @extend %headings;
//   line-height: $heading-line-height-secondary;
// }

// Headings

 %headings {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  color: $heading-color;
  margin-bottom: 1rem;
  &:not(:first-child) {
    margin-top: 3rem;
  }
}

h1 {
  font-size: $h1;
  @extend %headings;
  line-height: $heading-line-height;
}

h2 {
  font-size: $h2;
  @extend %headings;
  line-height: $heading-line-height;
}

h3 {
  font-size: $h3;
  @extend %headings;
  line-height: $heading-line-height;
}

h4 {
  font-size: $h4;
  @extend %headings;
  line-height: $heading-line-height-secondary;
}

h5 {
  font-size: $h5;
  @extend %headings;
  line-height: $heading-line-height-secondary;
}

h6 {
  font-size: $h6;
  @extend %headings;
  line-height: $heading-line-height-secondary;
}

p {
  margin: 0 0 1rem 0;
}


// a {
//   color: $link-color;
//   text-decoration: underline;

//   &:hover,
//   &:active,
//   &:focus {
//     color: $link-hover-color;
//     text-decoration: underline;
//   }
// }

// // // Code block styling
// // pre {
// //   border: $borders;
// //   border-radius: $border-radius;
// //   background: $code-background;
// //   padding: 1rem;
// //   tab-size: 2;
// //   color: $code-color;
// //   font-family: $code-family;
// //   font-size: $code-size;
// //   margin: 0 0 $margins 0;

// //   code {
// //     font-family: $code-family;
// //     line-height: 1.2;
// //   }
// // }
